
/* Estilo para o corpo da página */
body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #fff; 
}

/* Cabeçalho */
.header {
    background-color: #0056D2; 
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Contêiner de navegação e logo */
.nav-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Quadrado ao redor dos links de navegação */
.nav-square {
    background-color: white;
    padding: 15px 30px; 
    border-radius: 8px;
}

/* Links de navegação */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px; 
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: #0056D2;
    font-weight: bold;
    font-size: 18px;
}

.nav-links a:hover {
    color: #003d99;
}

/* Estilo da logo */
#logo {
    width: 110px;
    height: 110px;
}

/* Conteúdo principal */
.main-content {
    display: flex;
    flex-wrap: wrap;  
    gap: 20px; 
    margin-top: 150px;
    padding: 20px;
    justify-content: center; 
    align-items: center; 
    text-align: left;  
}


/* Seção de Destaques */
.col-destaques h2 {
    font-size: 24px;
    font-weight: bold;
    color: #0056D2;
}

.link-destaques li {
    margin-top: 10px;
}

.link-destaques li a {
    color: #003d99;
    text-decoration: none;
}

.link-destaques li a:hover {
    text-decoration: underline;
}

/* Seção de esportes */
.col-destaques, .col-esportes {
    width: 30%; 
    max-width: 300px;
}
.destaque-header {
    background-color: #0056D2;
    color: #fff;
    padding: 15px 5px;
    width: 100%;
    text-align: center;
}

.destaque-header h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.caixa {
    width: 100%;
    max-width: 300px;
}

.caixa h3 {
    color: #003d99;
    font-size: 20px;
}

.caixa img {
    width: 100%;
    height: auto;
}

.caixa p {
    color: #003d99;
    font-size: 16px;
    line-height: 1.6;
}

.caixa a {
    color: #003d99;
    text-decoration: none;
}

.caixa a:hover {
    text-decoration: underline;
}
